main.page-content
  section.animation-screen
  include ./../sections/_screen.pug
  
  section#story.screen.screen--story.js-scrollspy
    include ./../sections/_slider.pug
  include ./../sections/_prizes.pug
      .screen__footer.js-footer
      button.screen__footer-enlarge.js-footer-toggler(type='button' aria-label='Показать сообщение')
        svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M0 6.35337L3.90271 4.99012L0 3.64663L1.34615 1.32374L4.44287 4.01073L3.67364 0H6.34615L5.57692 4.01073L8.65385 1.32374L10 3.64663L6.13405 4.99012L10 6.35337L8.65385 8.65651L5.57692 5.98927L6.34615 10H3.67364L4.44287 5.96952L1.34615 8.65651L0 6.35337Z' fill='currentColor')
      button.screen__footer-collapse.js-footer-toggler(type='button' aria-label='Скрыть сообщение')
        svg(width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg')
          line(x1='12.3536' y1='0.353553' x2='0.738349' y2='11.9688' stroke='currentColor')
          line(x1='0.738319' y1='0.539925' x2='12.3535' y2='12.1551' stroke='currentColor')
      .screen__footer-wrapper
        .screen__footer-announce
          p.screen__footer-label Даты проведения конкурса:
          p.screen__footer-date 01 — 31.05 / 2020
        .screen__footer-note
          p
            svg(width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 6.35337L3.90271 4.99012L0 3.64663L1.34615 1.32374L4.44287 4.01073L3.67364 0H6.34615L5.57692 4.01073L8.65385 1.32374L10 3.64663L6.13405 4.99012L10 6.35337L8.65385 8.65651L5.57692 5.98927L6.34615 10H3.67364L4.44287 5.96952L1.34615 8.65651L0 6.35337Z' fill='currentColor')
            span
              | Скидка 15% на единоразовое приобретение путёвки с 1 июня 2020 по 31 мая 2022 года. Суммируется с другими акциями
  section#rules.screen.screen--rules.js-scrollspy
    .screen__wrapper
      .rules
        h2.rules__title Правила
        .rules__lead
          p
            | Для того чтобы получить наследство Джеймса Таргета, тебе нужно выведать у «Сони», куда предстоит отправиться тебе в случае победы
        ol.rules__list
          li.rules__item
            p
              | Тебе отводится 
              br
              | 5 минут
          li.rules__item
            p Задавай любые вопросы в текстовом поле
          li.rules__item
            p Нажимай кнопку «Узнать», чтобы получить ответ
          li.rules__item
            p «Соня» может отвечать только Да или Нет
        a.rules__link.btn(href='#game') Погнали!
    .screen__disclaimer
      .disclaimer
        ul
          li
            a(href='#') Правовая информация
          li
            a(href='#') Подробные правила
  section#game.screen.screen--game.js-scrollspy
    .screen__wrapper
      .game
        .game__header
          h2.game__title Игра
          .game__counter
            span 05
            | :
            span 00
        .game__body
          .chat
            .chat__body.js-chat
              ul#messages.chat__list
            .chat__footer
              form#message-form.form(action='#' method='post')
                label.visually-hidden(for='message-field') Поле для ввода вопроса
                input#message-field.form__field(type='text')
                button.form__button.btn
                  | Узнать
                  svg(width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(stroke='currentColor' stroke-width='2' d='M9 19V1')
                    path(d='M1 9l8-8 8 8' stroke='currentColor' stroke-width='2' stroke-linejoin='round')
        // временные кнопки для показа результата
        .game__buttons
          button.game__button.btn.js-show-result(type='button' data-target='result') Положительный результат
          button.game__button.btn.js-show-result(type='button' data-target='result2') Положительный результат - 2
          button.game__button.btn.js-show-result(type='button' data-target='result3') Отрицательный результат
  include ./../sections/_result.pug