.slider.swiper-container.js-slider
      .swiper-wrapper
        .slider__item.swiper-slide
          h2.slider__item-title История
          p.slider__item-text
            | Джеймс Таргет был основателем компании «Fjord Inc.». С 1965 года «Fjord Inc.» прославилась надёжными и удобными чемоданами и аксессуарами для туристов.
        .slider__item.swiper-slide
          p.slider__item-text
            | Когда Джеймсу было 7 лет, в их доме гостил дядюшка и развлекал детей рассказами о своей поездке в место, показавшееся малышу Таргету невероятным. Тогда Джеймс решил, что однажды посетит его, но не будет рассказывать о мечте, пока не осуществит.
        .slider__item.swiper-slide
          p.slider__item-text
            | Джеймс Таргет стал увлеченным путешественником. Он посетил 5 континентов, 126 стран.
        .slider__item.swiper-slide
          p.slider__item-text
            | Он сплавлялся по Амазонке и погружался в пещеры Франции, медитировал в горах Тибета и пожимал руку вождя племени Акугауа.
        .slider__item.swiper-slide
          p.slider__item-text
            | Из своих поездок Джеймс Таргет привозил идеи, как сделать свои чемоданы «Fjord Inc.» удобными и приспособленными к разным дорожным условиям.
        .slider__item.swiper-slide
          p.slider__item-text
            | Всё это время Джеймс не оставлял идею поездки своей мечты. Однако, как только он брался за планирование, возникали препятствия, не позволяющие отправиться туда.
        .slider__item.swiper-slide
          p.slider__item-text
            | В возрасте 67 лет Джеймс Таргет попал под лавину и погиб. В своём завещании он поручил отправить в заветное путешествие трёх смельчаков, единых с ним духом.
        .slider__item.swiper-slide
          p.slider__item-text
            | Тех, кто сможет узнать таинственное место, задавая вопросы специально обученному ИИ «Соне», ждет фантастическое путешествие.
      .slider__controls
        button.slider__control.slider__control--prev.js-control-prev(type='button' aria-label='Показать предыдущую историю')
          svg(width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M11 1L1 11L11 21' stroke='currentColor' stroke-width='2' stroke-linejoin='round')
        button.slider__control.slider__control--next.js-control-next(type='button' aria-label='Показать следующую историю')
          svg(width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 1L11 11L1 21' stroke='currentColor' stroke-width='2' stroke-linejoin='round')
      .slider__pagination.swiper-pagination